<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <p class="text-center mt-5 mb-5" style="height: 300px;">This application present a list of judoka and their awards</p>

   
    <%- include("../partials/footer.ejs") %> 
</body>
</html>